{% extends 'styling.html' %}
{% block content %}

<nav class="navbar navbar-expand-lg bg-light">
  <div class="container-fluid">
     <div>
      <a class="navbar-brand" href="#">{{request.user.username|title}} sedang membuat Task...</a>
     </div>
      <a href="{% url 'tasklist' %}" class="btn btn-primary">Kembali</a>
  </div>
</nav>

<div class="card-body-detail">
  <h4>Title: {{task.title|title}}</h4>
  <h4>Description: {{task.description}}</h4>
  <h4>Status: {{task.is_finished}}</h4>
  <h5>Dibuat pada: {{task.date|timesince}} lalu</h5>
  <h4><a class="button" href="{% url 'edit' task.title %}">Edit</a> <a style="background-color:red; border:none;" class="button" href="{% url 'delete' task.title %}">Delete</a></h4>
</div>
{% endblock %}